@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins&display=swap");
:root {
  --font-family: "Poppins", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #fff;
  --color-footer: #fff;
  --color-subtext: #33334f;
  --color-subcontainer: #add8e6;
}
button {
  transition: all 0.5s;
}
button:active {
  transform: scale(0.9);
}
